.alumnus-avatar {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: right;
    object-position: right;
    border: 1px solid #00fffb;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.rounded-circle {
    border-radius: 50%;
}
